@import '~iview/src/styles/index.less';

// Here are the variables to cover
@primary-color: #0b9595;

.ivu-modal-confirm-head-title{
    font-size: 18px;
    font-weight: 400;
}
.ivu-modal-confirm-body{
    font-size: 16px;
    line-height: 32px;
}

.ivu-input[disabled],
fieldset[disabled] .ivu-input{
    color: #333;
}

// 私有化覆盖不了
.sidebar .nav .ivu-icon-ios-arrow-down:before {
    content: "\F217";
}

.sidebar .nav .ivu-menu-opened .ivu-icon-ios-arrow-down:before{
    content: "\F208";
}

.sidebar .nav .ivu-menu-submenu-title {
    padding: 22px 20px;
}

.eidthform {
    display: flex;
    align-items: center;
    justify-content: center;

    .ivu-modal {
        top: 0;

        .ivu-modal-body{
            padding: 20px 15px 0;
        }

        .ivu-modal-header {
            border-bottom: none;
            padding: 0;
        }

        .ivu-modal-footer {
            border-top: none;
            padding: 0;
        }
    }
}

// layout
html,body,#app,.wrapper{
    width:100%;
    height:100%;
    overflow: hidden;
}
a{
    text-decoration: none
}
.content{
    background: none repeat scroll 0 0 #fff;
    position: absolute;
    left: 250px;
    right: 0;
    top: 70px;
    bottom:0;
    width: auto;
    box-sizing: border-box;
    overflow-y: scroll;

    .router-box{
        padding: 20px;
    }
}

.addbutton,
.singlebutton{
    margin-bottom: 24px;
}

.page {
    margin-top: 10px;
}


.eidthform {
    .ivu-modal-header p {
      text-align: center;
      font-size: 16px;
      color: #0b9595;
      font-weight: 400;
      padding-top: 24px;
      height: auto;
    }
  
    .button-box {
      text-align: center;
      padding-bottom: 24px;
  
      button {
        margin: 0 4px;
      }
    }
  }

.clearfix{
    *zoom: 1;

    &:after {
        content: '';
        display: table;
        clear: both;
        line-height: 0;
        visibility: hidden;
    }
}